body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 
/*
 * Center the body content
 */
  
.container {
  width: 940px;
  margin: 0 auto;
}
 
div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}

.weather-large {
  font-size: 70px;
  vertical-align: text-top;
}

#temperature {
  font-size: 180px;
  font-weight: bold;
}

#wind_direction { 
  width: 150px;
  height: 150px;
  background: url('/static/wind.png') 0 0 no-repeat;  
  background-size: 150px 150px;
}

#wind_speed {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.wind_speed {
  position: relative;
  display: block;
  top: -102px;
  left: 50px;
  width: 50px;
  text-align: center;
  font-size: 17px;
}

#error {
  display: none;
}

/* shamelessly taken from bootstrap: */
.alert{
  padding:15px;
  margin-bottom:20px;
  border:1px solid transparent;
  border-radius:4px
}

.alert h4{
  margin-top:0;
  color:inherit
}

.alert .alert-link{
  font-weight:bold
}

.alert>p,.alert>ul{
  margin-bottom:0
}

.alert>p+p{
  margin-top:5px
}

.alert-dismissable{
  padding-right:35px
}

.alert-dismissable .close{
  position:relative;
  top:-2px;
  right:-21px;
  color:inherit
}

.alert-success{
  color:#3c763d;
  background-color:#dff0d8;
  border-color:#d6e9c6
}

.alert-success hr{
  border-top-color:#c9e2b3
}

.alert-success .alert-link{
  color:#2b542c
}

.alert-info{
  color:#31708f;
  background-color:#d9edf7;
  border-color:#bce8f1
}

.alert-info hr{
  border-top-color:#a6e1ec
}

.alert-info .alert-link{
  color:#245269
}

.alert-warning{
  color:#8a6d3b;
  background-color:#fcf8e3;
  border-color:#faebcc
}

.alert-warning hr{
  border-top-color:#f7e1b5
}

.alert-warning .alert-link{
  color:#66512c
}

.alert-danger{
  color:#a94442;
  background-color:#f2dede;
  border-color:#ebccd1
}

.alert-danger hr{
  border-top-color:#e4b9c0
}

.alert-danger .alert-link{
  color:#843534
}



