<!DOCTYPE html>
<html>
  <head>
    <title>Weather Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>

    <header>
      <div class="container">
        <h1 class="logo">Weather Viewer</h1>
      </div>
    </header>

    <div class="container">
      <p>Where we add shit.</p>
      <div id="time"></div>
    </div>

    <div class="weather_data">
    </div>

  <script>
    var wait_time = 10000;
    
    function fetch_weather_data() {
      var xhr = new XMLHttpRequest();
      
      xhr.open("GET", "/weather.json", true);
      xhr.onreadystatechange = function() {
        // request is complete
        if(xhr.readyState === 4) {
          if(xhr.status === 200) {
            update_page(xhr.responseText);
          }
          else { window.clearInterval(timer_id) }
        }
      }
      xhr.send(null);
    }
    
    function update_page(json) {
      var page_values = JSON.parse(json);
      document.getElementById("time").innerHTML = page_values["time"];
    }
    
    fetch_weather_data();
    timer_id = window.setInterval(function() {
        fetch_weather_data();
      }, wait_time);

  </script>
  </body>
</html>


