<!DOCTYPE html>
<html>
  <head>
    <title>Weather Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>

    <header>
      <div class="container">
        <h1 class="logo">Weather Viewer</h1>
      </div>
    </header>
    
    <div id="error" class="alert alert-danger">
      There was an error fetching the latest data.  Click 
      <a onClick="reset_error();" href="#">here</a> to retry.
    </div>

    <div class="container pure-g-r">
      <div class="pure-u-5-8 weather-large">
        <span id="temperature"></span>&deg; C
      </div>

      <div class="pure-u-3-8 condition">
        <img src="static/pixmaps/weather-clear.png" width="50%">
        <div>Clear</div>
      </div>
    </div>
    <div class="container pure-g-r">

      <div class="pure-u-1-3">
        <div>
          <div id="wind_direction"></div>
          <span class="wind_speed">
            <div id="wind_speed"></div>km/h
          </span> 
        </div>
      </div>
      
      <div class="pure-u-1-6">
        <strong>RH:</strong>
        <span id="relative_humidity"></span>%
      </div>

      <div class="pure-u-1-6">  
        <strong>Barometer:</strong><br>
        <span id="barometer"></span> kpa
      </div>

      <div class="pure-u-1-6">
        <strong>Daily Rainfall:</strong><br>
        <span id="rainfall"></span> cm
      </div>
      
      <div class="pure-u-1">
        <p>Last Updated: <span id="time"></span> </p>
      <div>

    </div>
 
    

  <script>
    var wait_time = 1000;
    var fail_count = 0;
    var xhr = new XMLHttpRequest();
    
    xhr.onreadystatechange = function() {
      // request is complete
      if(xhr.readyState === 4) {
        if(xhr.status === 200) {
          fail_count = 0; // reset fail count on success
          update_page(xhr.responseText);
        } else { 
          // after 4 failures, stop sending requests and display error
          fail_count++;  
          if(fail_count >= 4) {
            window.clearInterval(timer_id) 
            var errorDiv = document.getElementById("error");
            errorDiv.style.display = "block";
          }
        }
      }
    }

    function fetch_weather_data() {
      xhr.open("GET", "/weather.json", true);
      xhr.send(null);
    }
    
    function update_page(json) {
      var page_values = JSON.parse(json);
      var updated_time = new Date(page_values["time"]*1000);

      document.getElementById("time").innerHTML = updated_time;
      document.getElementById("temperature").innerHTML = 
        page_values["temperature"];
      document.getElementById("relative_humidity").innerHTML = 
        page_values["relative_humidity"];
      document.getElementById("wind_speed").innerHTML = 
        page_values["wind_speed"];
      if (page_values["wind_speed"] === null)
        document.getElementById("wind_speed").innerHTML = "-";
        
      var wind_degrees = page_values["wind_direction"] * 360;
      rotate_image("wind_direction", wind_degrees);
        
      document.getElementById("barometer").innerHTML = 
        page_values["barometer"];
      document.getElementById("rainfall").innerHTML = 
        page_values["rainfall"];
    }
    
    function reset_error(e) {
      fail_count = 0;
      fetch_weather_data();
      timer_id = window.setInterval(fetch_weather_data, wait_time);
      var errorDiv = document.getElementById("error");
      errorDiv.style.display = "none";
    }
    
    function rotate_image(selector_id, degrees) {
      document.getElementById(selector_id).style.cssText = 
        "transform: rotate(" + Math.round(degrees) + "deg); " + 
        "-webkit-transform: rotate(" + Math.round(degrees) + "deg); " +
        "-ms-transform: rotate(" + Math.round(degrees) + "deg); ";
    } 
    
    fetch_weather_data();
    timer_id = window.setInterval(fetch_weather_data, wait_time);

  </script>
  </body>
</html>


